-e git+https://github.com/nicolaiarocci/eve.git@298d1bd42a97973b9b766282d5d06839e6f84300#egg=Eve
-e git+https://github.com/hermannsblum/eve-docs.git@c36c5a2d637c244f3b5c3fd443dbd911eff037bd#egg=Eve_docs-master
-e git+https://github.com/NotSpecial/nethz.git@1d3004081c3618f1f41463476a847b0bddd6d91a#egg=nethz
Flask==0.10.1
passlib==1.6.5
jsonschema==2.5.1
click==6.6
pytz==2016.7
ruamel.yaml==0.12.14
freezegun==0.3.8
# Install amivapi in editable mode to enable command line tools
-e .
