eve==2.0.2
git+https://github.com/amiv-eth/eve-swagger.git@de78e466fd34a0614d6f556a371e0ae8d973aca9#egg=Eve_Swagger
# "nethz" must be installed in editable mode, otherwise some certs are not found
# Wontfix: With the upcoming migration, this library will not be needed anymore
-e git+https://github.com/NotSpecial/nethz.git@fcd5ced2dd365f237047748abfedb9c35a468393#egg=nethz
passlib==1.7.4
jsonschema==4.16.0
freezegun==1.2.2
sentry-sdk[flask]==1.9.8
beautifulsoup4==4.11.1
Pillow==9.2.0

# Test requirements. It's not worth the hassle to keep them separate.
pytest==7.1.3
pytest-cov==3.0.0
tox==3.26.0
flake8==5.0.4
