git+https://github.com/pyeve/eve.git#egg=eve
-e git+https://github.com/hermannsblum/eve-swagger.git#egg=Eve_Swagger
-e git+https://github.com/NotSpecial/nethz.git@1d3004081c3618f1f41463476a847b0bddd6d91a#egg=nethz
Flask==0.10.1
passlib==1.6.5
jsonschema==2.5.1
click==6.6
pytz==2016.7
ruamel.yaml==0.12.14
freezegun==0.3.8
# Mock is only available in the standard lib from 3.3 on
mock==2.0.0
# Install amivapi in editable mode to enable command line tools
-e .
