{% extends "base.html" %}

{% block text_german %}
  <p>Hey!</p>
  <p>Du hast dich für {{ title_de }} mit deiner E-Mail Adresse angemeldet. Um zu bestätigen, dass es sich hier um eine gültige Adresse handelt und auch deinen Platz zu bestätigen, klicke bitte auf diesen Link: <a href="{{ link }}">{{ link }}</a></p>
  <p>Freundliche Grüsse,</br>AMIV</p>
{% endblock %}

{% block text_english %}
  <p>Hello from AMIV!</p>
  <p>You have signed up for {{ title_en }} with your E-Mail address. To verify this is a valid address and keep your spot please click this link: <a href="{{ link }}">{{ link }}</a></p>
  <p>Best regards,</br>AMIV</p>
{% endblock %}
