{% extends "base.txt" %}

{% block text_german %}
  <p>Hallo {{ name }}</p>
  <p>Du wurdest aus folgendem Grund geblacklisted:</p>
  <p>{{ reason }}</p>
  <p>Das heisst, dass du dich nicht mehr für neue AMIV-Events registrieren kannst! Um von der Blacklist entfernt zu werden, zahle bitte {{ price|round(2, 'common') }} CHF im AMIV Büro im CAB E37.</p>
  <p>Wenn du denkst, dass es sich hier um einen Fehler handelt, zögere bitte nicht, <a href="mailto:{{ reply_to }}">{{ reply_to }}</a> zu kontaktieren.</p>
  <p>Freundliche Grüsse</br>AMIV</p>
{% endblock %}

{% block text_english %}
  <p>Hello {{ name }}</p>
  <p>You have been blacklisted for the following reason:</p>
  <p>{{ reason }}</p>
  <p>This means that you cannot register for any new amiv events! To get removed from the blacklist, you have to pay {{ price|round(2, 'common') }} CHF in the AMIV Office in CAB E37.</p>
  <p>If you think that this is an error, don't hesitate to contact <a href="mailto:{{ reply_to }}">{{ reply_to }}</a>.</p>
  <p>Best Regards</br>AMIV</p>
{% endblock %}
