{% extends "base.html" %}

{% block text_german %}
  <p>Hey {{ name }}!</p>

  <p>Du bist auf der Warteliste für {{ title_de }}, da das Event entweder ausgebucht ist, oder die Eventmoderation deine Anmeldung zuerst akzeptieren muss.</p>
  <p>Wir senden dir eine weitere E-mail, wenn du für das Event akzeptiert wirst.</p>

  <p>Freundliche Grüsse,</br>AMIV</p>
{% endblock %}

{% block text_english %}
  <p>Hello {{ name }}!</p>

  <p>You are now on the waiting list for {{ title_en }} because the event is either fully booked or the event moderator has to accept your signup first.</p>
  <p>We'll send you another email if you get accepted for the event.</p>

  <p>Best Regards,</br>AMIV</p>
{% endblock %}
